.home__section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/002.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: rgb(222, 234, 241);
}
.home__content {
  animation-name: homeAni;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
@keyframes homeAni {
  from {
    opacity: 0.1;
  }
}
